footer.footer
  .container
    ul.list-inline
      li: a(href=appurl) #{appname} #{appversion}
      li: p.text-muted Copyright (c) 2014, Julien Guillot &lt;meutel+github@meutel.net&gt;
      li: a(href="/LICENSE.txt") View license
      li: a(href="http://calibre-ebook.com/",title="calibre"): img(src="/images/calibre.png")
      li: a(href="http://getbootstrap.com/",title="bootstrap"): img(src="/images/bootstrap.png")
      li: a(href="http://expressjs.com/") Express
      li: a(href="http://nodejs.org/",title="node.js"): img(src="/images/nodejs.png")
